<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016933907693-lodch04cghjd7d1sr02f266qkj8h53a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016933907693-lodch04cghjd7d1sr02f266qkj8h53a5</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLZNHGq4LYoemmCVc8DjHL5vps8gRTm4</string>
	<key>GCM_SENDER_ID</key>
	<string>1016933907693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-38490</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-38490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016933907693:ios:dccef27d63306826e1a0e4</string>
</dict>
</plist>